<section class="testimonials">
  <h2 class="reveal-bottom-1">Valoraciones de nuestros clientes</h2>
  <article class="card-container reveal-bottom">
    <div class="card">
      <h3>Cliente satisfecho</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus nostrum impedit beatae praesentium similique sed voluptas ullam, iure, voluptatem repellat asperiores delectus quas ipsam, harum quibusdam? Neque praesentium aliquam ea!
      </p>
      <div class="stars-opinion">
        <div class="fas fa-star good"></div>
        <div class="fas fa-star good"></div>
        <div class="fas fa-star good"></div>
        <div class="fas fa-star good"></div>
        <div class="fas fa-star good"></div>
      </div>
    </div>
    <div class="card">
      <h3>Cliente satisfecho</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus nostrum impedit beatae praesentium similique sed voluptas ullam, iure, voluptatem repellat asperiores delectus quas ipsam, harum quibusdam? Neque praesentium aliquam ea!
      </p>
      <div class="stars-opinion">
        <div class="fas fa-star good"></div>
        <div class="fas fa-star good"></div>
        <div class="fas fa-star good"></div>
        <div class="fas fa-star good"></div>
        <div class="fas fa-star good"></div>
      </div>
    </div>
    <div class="card">
      <h3>Cliente satisfecho</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus nostrum impedit beatae praesentium similique sed voluptas ullam, iure, voluptatem repellat asperiores delectus quas ipsam, harum quibusdam? Neque praesentium aliquam ea!
      </p>
      <div class="stars-opinion">
        <div class="fas fa-star good"></div>
        <div class="fas fa-star good"></div>
        <div class="fas fa-star good"></div>
        <div class="fas fa-star good"></div>
        <div class="fas fa-star good"></div>
      </div>
    </div>
    <div class="card">
      <h3>Cliente satisfecho</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam sit suscipit est perspiciatis earum maxime dicta quae itaque, odit voluptatum corrupti voluptates similique quasi doloremque deserunt a cum reiciendis accusantium?
      </p>
      <div class="stars-opinion">
        <div class="fas fa-star good"></div>
        <div class="fas fa-star good"></div>
        <div class="fas fa-star good"></div>
        <div class="fas fa-star good"></div>
        <div class="fas fa-star bad"></div>
      </div>
    </div>
    <div class="card">
      <h3>Cliente satisfecho</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut reprehenderit nesciunt asperiores blanditiis. Veritatis fugit error officia voluptate, harum quibusdam ea, suscipit quos quas cumque ipsa aliquid laudantium ut temporibus.
      </p>
      <div class="stars-opinion">
        <div class="fas fa-star good"></div>
        <div class="fas fa-star good"></div>
        <div class="fas fa-star good"></div>
        <div class="fas fa-star good"></div>
        <div class="fas fa-star bad"></div>
      </div>
    </div>
    <div class="card">
      <h3>Cliente satisfecho</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut reprehenderit nesciunt asperiores blanditiis. Veritatis fugit error officia voluptate, harum quibusdam ea, suscipit quos quas cumque ipsa aliquid laudantium ut temporibus.
      </p>
      <div class="stars-opinion">
        <div class="fas fa-star good"></div>
        <div class="fas fa-star good"></div>
        <div class="fas fa-star good"></div>
        <div class="fas fa-star good"></div>
        <div class="fas fa-star good"></div>
      </div>
    </div>
    <div class="card">
      <h3>Cliente satisfecho</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut reprehenderit nesciunt asperiores blanditiis. Veritatis fugit error officia voluptate, harum quibusdam ea, suscipit quos quas cumque ipsa aliquid laudantium ut temporibus.
      </p>
      <div class="stars-opinion">
        <div class="fas fa-star good"></div>
        <div class="fas fa-star good"></div>
        <div class="fas fa-star good"></div>
        <div class="fas fa-star good"></div>
        <div class="fas fa-star bad"></div>
      </div>
    </div>
  </article>
</section>