main {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  background: rgb(0, 3, 75);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 450px;
  margin: 40px;
  color: #fff;
}

h2 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.section-form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  resize: none;
  height: 100px;
}

.consent {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

button {
  background: #ff5733;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #ff785a;
}
